{% extends 'main.html.twig' %}

{% block moduletitle %}Study Program{% endblock %}
{% block customcss %}
    <style>
        .jtable-dialog-form input[type="text"]
        {
            min-width: 200px;
        }

        .jtable-dialog-form {
            display: block;
            width: 700px;
            -moz-column-gap:40px;
            -webkit-column-gap:40px;
            column-gap:40px;
            -moz-column-count:2;
            -webkit-column-count:2;
            column-count:2;
        }
    </style>
{% endblock %}
{% block main %}
    <form name='searchform'>
        <div>
            <label for="search_value">Search:</label>
            <input type='text' name='search_value' id='search_value' value='' size='15'>&nbsp;
            <select name='search_field' id='search_field'>
                <option value='letter_code'>Letter Code</option>
                <option value='name_english'>English Name</option>
                <option value='name_turkmen'>Turkmen Name</option>
                <option value='system_id'>System Id</option>
            </select>&nbsp;&nbsp;
            <input type='button' id='search_button' value='Search' onclick='search();'>
        </div>
    </form> <a href="/faculty/studyprogram/new">New</a>
    <div id='error'>
    </div>
    <div id='main'>
    </div>
{% endblock %}
{% block customjs %}
    <script type="text/javascript">
        $(document).ready(function () {
            row_count = 0;
            $('#main').jtable({
                title: 'Study Programs',
                paging: true,
                pageSize: 35,
                sorting: true,
                startIndex: 0,
                defaultSorting: 'study_program.id DESC',
                actions: {
                    listAction: function (postData, jtParams) {
                        return $.Deferred(function ($dfd) {
                            $.ajax({
                                url: '/faculty/studyprogram/list/' + jtParams.jtStartIndex + '/' + jtParams.jtPageSize + '/' + jtParams.jtSorting
        {% if (search_field is defined and search_field is not empty) and (search_value is defined and search_value is not empty) %}
                                            + '/' + '{{ search_field|raw }}' + '/' + '{{ search_value|raw }}'
        {% endif %},
                                    type: 'POST',
                                    dataType: 'json',
                                    data: postData,
                                    success: function (data) {
                                        console.log(jtParams.jtSorting);
                                        $dfd.resolve(data);
                                        row_count = 0;
                                    },
                                    error: function (data) {
                                        //console.log(data);
                                        $dfd.reject();
                                    }
                                });
                            });
                        },
                        deleteAction: function (postData) {
                            return $.Deferred(function ($dfd) {
                                $.ajax({
                                    url: '/faculty/studyprogram/delete',
                                    type: 'POST',
                                    dataType: 'json',
                                    data: postData,
                                    success: function (data) {
                                        console.log(data);
                                        $dfd.resolve(data);
                                    },
                                    error: function (data) {
                                        $dfd.reject();
                                    }
                                });
                            });
                        }
                    },
                    fields: {
                        row_number: {
                            title: 'No',
                            create: false,
                            edit: false,
                            width: '3%'
                        },
                        id: {
                            title: 'ID',
                            width: '3%',
                            key: true,
                            create: false,
                            edit: false,
                            list: true
                        },
                        system_id: {
                            title: 'System ID',
                            type: 'text',
                            width: '3%',
                            list: true
                        },
                        letter_code: {
                            title: 'Letter Code',
                            type: 'text',
                            width: '5%',
                            list: true
                        },
                        name_english: {
                            title: 'Name English',
                            type: 'textarea',
                            width: '10%',
                            defaultValue: '',
                            list: true
                        },
                        name_turkmen: {
                            title: 'Name Turkmen',
                            type: 'textarea',
                            width: '10%',
                            defaultValue: '',
                            list: true
                        },
                        approval_year: {
                            title: 'Approval Year',
                            type: 'text',
                            width: '5%',
                            defaultValue: '2024',
                            list: true
                        },
                        department_id: {
                            title: 'Department',
                            options: '/valuepairs/department/id/name_english/id ASC',
                            width: '10%',
                            defaultValue: '0',
                            list: true
                        },
                        status: {
                            title: 'Ready',
                            options: {'0': 'No', '1': 'Yes'},
                            width: '2%',
                            defaultValue: '1',
                            list: true
                        },
                        actions: {
                            title: 'Actions',
                            sorting: false,
                            list: true,
                            edit: false,
                            create: false,
                            display: function (data)
                            {
                                info = "<a href='/faculty/studyprogram/edit/" + data.record.id + "'>Edit</a> | ";
                                info += " <a href='/faculty/studyprogram/fullview/" + data.record.id + "'>View</a>";
                                {% if is_granted("ROLE_ADMIN") %}
                                        info += " | <a href='javascript:duplicate(" + data.record.id + ");'>Duplicate</a>";
                                {% endif %}
                                return info;
                            }

                        }
        {% if is_granted('ROLE_ADMIN') %}
        {% endif %}
                    }
                });
                $('#main').jtable('load');
            });
            function search()
            {
                window.location.href = "/faculty/studyprogram/search/" + $('#search_field').val() + "/" + $('#search_value').val();
            }
            function showerror(str)
            {
                $('#error').html(str);
            }
            function duplicate(id)
            {
                //console.log('working');
                //return;
                var r = confirm("Do you really want to duplicate item with ID? " + id);
                if (r)
                {
                    $('#mainModalTitle').html('Duplicating');
                    $('#mainModalBody').html('Duplicating item...');
                    $('#mainModal').modal('show');
                    p = "/faculty/studyprogram/duplicate/" + id;
                                            var inputs = null;
                                            //console.log(inputs);
                                            //return;
                                            $.ajax({
                                                type: "GET",
                                                url: p,
                                                data: inputs,
                                                success: function (msg) {
                                                    console.log(msg);
                                                    let output = '';
                                                    if(msg.Result=="ERROR")
                                                    {
                                                        output = msg.Result + ". "+msg.Message;
                                                    } else {
                                                        output = msg.Result + ". "+msg.Message + ". "+msg.Record.id+" "+msg.Record.letter_code;
                                                    }
                                                    $('#mainModalBody').html(output);
                                                    $('#mainModal').delay(15000).fadeOut(2000, function () {
                                                            $('#mainModal').modal('hide');
                                                    });
                                                },
                                                error: function (request, status, error) {
                                                    console.log(request.responseText);
                                                    $('#error').html(request.responseText);
                                                    $('#mainModalBody').html(request.responseText);
                                                },
                                            });
                }
            }
    </script>
{% endblock %}