{% extends 'main.html.twig' %}

{% block moduletitle %}Faculty{% endblock %}
{% block customcss %}
<style>
.jtable-dialog-form {
    display: block;
    width: 1260px;
    -moz-column-gap: 40px;
    -webkit-column-gap: 40px;
    column-gap: 40px;
    -moz-column-count: 2;
    -webkit-column-count: 2;
    column-count: 2;
}
    </style>
{% endblock %}
{% block main %} <a href='/faculty/faculty/new'>New</a>
    <div id='error'>
    </div>
    <div id='main'>
    </div>
{% endblock %}
{% block customjs %}
    <script type="text/javascript">
        $(document).ready(function () {
            $('#main').jtable({
                title: 'Faculties',
                paging: true,
                pageSize: 35,
                sorting: true,
                startIndex: 0,
                defaultSorting: 'faculty.system_id ASC',
                actions: {
                    listAction: function (postData, jtParams) {
                        return $.Deferred(function ($dfd) {
                            $.ajax({
                                url: '/faculty/faculty/list/' + jtParams.jtStartIndex + '/' + jtParams.jtPageSize + '/' + jtParams.jtSorting,
                                type: 'POST',
                                dataType: 'json',
                                data: postData,
                                success: function (data) {
                                    $dfd.resolve(data);
                                },
                                error: function (data) {
                                    $dfd.reject();
                                }
                            });
                        });
                    },
                    createAction: function (postData) {
                        return $.Deferred(function ($dfd) {
                            $.ajax({
                                url: '/faculty/faculty/create',
                                type: 'POST',
                                dataType: 'json',
                                data: postData,
                                success: function (data) {
                                    $dfd.resolve(data);
                                },
                                error: function (data) {
                                    $dfd.reject();
                                }
                            });
                        });
                    },
                    updateAction: function (postData) {
                        return $.Deferred(function ($dfd) {
                            $.ajax({
                                url: '/faculty/faculty/update',
                                type: 'POST',
                                dataType: 'json',
                                data: postData,
                                success: function (data) {
                                    $dfd.resolve(data);
                                },
                                error: function (data) {
                                    $dfd.reject();
                                }
                            });
                        });
                    },
                    deleteAction: '/faculty/faculty/delete'
                },
                fields: {
                    row_number: {
                        title: 'No',
                        create: false,
                        edit: false,
                        width: '3%'
                    },
                    id: {
                        key: true,
                        create: false,
                        edit: false,
                        list: false,
                    },
                    name_english: {
                        title: 'Name English',
                        type: 'textarea',
                        width: '10%',
                        list: true
                    },
                    name_turkmen: {
                        title: 'Name Turkmen',
                        type: 'textarea',
                        width: '10%',
                        list: true
                    },
                    system_id: {
                        title: 'System Id',
                        type: 'text',
                        width: '5%',
                        list: true
                    },
                    letter_code: {
                        title: 'Letter code',
                        type: 'text',
                        width: '5%',
                        list: true
                    },
                    dean_id: {
                        title: 'Dean',
                        options: '/valuepairs/teacher/id/lastname,firstname/lastname ASC',
                        width: '10%',
                        list: true
                    },
                    first_deputy_dean_id: {
                        title: 'Vice-Dean for Education',
                        options: '/valuepairs/teacher/id/lastname,firstname/lastname ASC',
                        width: '10%',
                        list: true
                    },
                    second_deputy_dean_id: {
                        title: 'Vice-Dean for Education',
                        options: '/valuepairs/teacher/id/lastname,firstname/lastname ASC',
                        width: '10%',
                        list: true
                    },
                    third_deputy_dean_id: {
                        title: 'Vice-Dean for Research',
                        options: '/valuepairs/teacher/id/lastname,firstname/lastname ASC',
                        width: '10%',
                        defaultValue: '0',
                        list: true
                    },
                    assistant_id: {
                        title: 'Assistant',
                        options: '/valuepairs/teacher/id/lastname,firstname/lastname ASC',
                        width: '10%',
                        defaultValue: '0',
                        list: true
                    },
                    actions: {
                            title: 'Actions',
                            sorting: false,
                            list: true,
                            edit: false,
                            create: false,
                            display: function (data)
                            {
                                info = "<a href='/faculty/faculty/edit/" + data.record.id + "'>Edit</a>";
                                info += "<br><a href='/faculty/attendance/totalabsences/faculty/" + data.record.id + "'>Total absences</a>";
                                info += "<br><a href='/faculty/attendance/facultyreport/" + data.record.id + "'>Monthly report</a>";
                                {% if is_granted("ROLE_ADMIN") %}
                                info += "<br><a href='/student/grades/course/" + data.record.system_id + "'>Grades report</a>";
                                {% endif %}
                                return info;
                            }
                        }
                }
            });

            $('#main').jtable('load');
        });

        function showerror(str)
        {
            $('#error').html(str);
        }
    </script>
{% endblock %}