{% extends 'main.html.twig' %}

{% block moduletitle %}Teacher Work Set Form{% endblock %}
{% block main %}
    <div style="width:90%;margin:auto;"><h3>Teacher Work Set Form</h3></div>
    <div style="width:90%;margin:auto;">
        {% form_theme form 'bootstrap_4_horizontal_layout.html.twig' %}
        {{ form_start(form) }}
        {{ form_widget(form) }}
        <button type="submit" class="btn btn-primary">Create / Update</button>
        {{ form_end(form) }}
    </div>
{% endblock %}
{% block customjs %}
    <script>
        var items = Array();
        jQuery(document).ready(function () {
            $('#teacher_work_set_form_department').on('change', function (e) {
                updateDepartmentWorkItemsBox();
                updateTaughtCoursesBox();
            });
            $('#teacher_work_set_form_teacher').on('change', function (e) {
                updateTaughtCoursesBox();
            });
            $('#teacher_work_set_form_departmentWorkItem').on('change', function (e) {
                updateTitleGroups();
                populate_items($('#teacher_work_set_form_student_groups').val());
            });
            $('#teacher_work_set_form_semester').on('change', function (e) {
                updateDepartmentWorkItemsBox();
                updateTaughtCoursesBox();
            });
            updateDepartmentWorkItemsBox();
            updateTaughtCoursesBox();
            
            populate_items($('#teacher_work_set_form_student_groups').val());
            autocompleting();
            
        });
        
        function updateTitleGroups()
        {
            var departmentWorkItem = $("#teacher_work_set_form_departmentWorkItem option:selected").text();
            var arr = departmentWorkItem.split(" - ");
            if(arr.length>0)
            {
                $("#teacher_work_set_form_title").val(arr[0]);
                if(typeof(arr[1])!='undefined')
                {
                    $("#teacher_work_set_form_student_groups").val(arr[1]);
                }
            }
        }

        function updateDepartmentWorkItemsBox()
        {
            var semester = $('#teacher_work_set_form_semester').val();
            var department = $('#teacher_work_set_form_department').val();
            var strUrl = "/faculty/departmentworkitem/jsonlistitems/" + department + "/" + semester;
            var cbxDepartmentWorkItem = $('#teacher_work_set_form_departmentWorkItem');
            updateSelectBox(cbxDepartmentWorkItem, strUrl, 'departmentworkitem');
        }

        function updateTaughtCoursesBox()
        {
            var semester = $('#teacher_work_set_form_semester').val();
            var teacher = $('#teacher_work_set_form_teacher').val();
            var strUrl = "/faculty/taughtcourse/jsonlistitems/" + teacher + "/" + semester;
{#            console.log($('#teacher_work_set_form_workload').val());#}
            if($('#teacher_work_set_form_workload').val()=='6')
            {
                var department = $('#teacher_work_set_form_department').val();
                strUrl = "/faculty/taughtcourse/department/jsonlistitems/" + department + "/" + semester;
            }
            var cbxTaughtCourses = $('#teacher_work_set_form_taughtCourse');
            updateSelectBox(cbxTaughtCourses, strUrl, 'taughtcourse');
        }

        function updateSelectBox(obj, strUrl, action)
        {
            obj.empty();
            $.ajax({
                url: strUrl,
                type: 'GET',
                dataType: 'json',
                success: function (data) {
                    $.each(data, function (i, item) {
                        obj.append("<option value='" + data[i].id + "'>" + data[i].value + "</option>");
                    });
                    if(action=='departmentworkitem')
                    {
                        $('#teacher_work_set_form_departmentWorkItem').val($('#teacher_work_set_form_departmentWorkItemOriginal').val());
                        updateTitleGroups();
                        populate_items($('#teacher_work_set_form_student_groups').val());
                    }
                    if(action=='taughtcourse')
                    {
                        $('#teacher_work_set_form_taughtCourse').val($('#teacher_work_set_form_taughtCourseOriginal').val());
                    }
                },
                error: function (data) {}
            });
        }


        function autocompleting()
        {
            //console.log('autocomplete applied');
            $("#teacher_work_set_form_student_groups_select").autocomplete({
                minLength: 3,
                source: function (request, response) {
                    $.ajax({
                        url: "/faculty/groupcourse/jsonlist/" + $('#teacher_work_set_form_year').val() + "/" + $('#teacher_work_set_form_semester').val() + "/" + request.term,
                        dataType: "json",
                        success: function (data) {
                            response(data);
                        }
                    });
                },
                focus: function (event, ui) {
                    return false;
                },
                select: function (event, ui) {
                    add_item(ui.item.id, ui.item.value);
                    return false;
                }
            })
                    .autocomplete("instance")._renderItem = function (ul, item) {
                return $("<li>")
                        .append("<div style='50px; margin-top:5px;'>" + item.value + "</div>")
                        .appendTo(ul);
            };
        }

        function add_item(id, name)
        {
            items.push([id, name]);
            refresh_items();
        }

        function remove_item(index)
        {
            items.splice(index, 1);
            refresh_items();
        }

        function refresh_items()
        {
            var str = '';
            var ids = Array();
            for (i = 0; i < items.length; i++)
            {
                str += "<div style='50px; margin-top:5px;'>" + items[i][1] + " <button onclick='remove_item(" + i + ");'>remove</button></div>";
                ids.push(items[i][0]);
            }
            $('#items_list').html(str);
            $("#teacher_work_set_form_student_groups").val(ids.join());
            $("#teacher_work_set_form_student_groups_select").val('');
        }

        function populate_items(ids)
        {
            var str = '';
            items = Array();
            //console.log(ids);
            if (ids.length > 0)
            {
                $.ajax({
                    url: "/faculty/groupcourse/jsonlistitems/" + ids,
                    type: 'GET',
                    dataType: 'json',
                    success: function (data) {
                        //console.log(data);
                        //var json = JSON.parse(data.responseText);
                        $.each(data, function (i, item) {
                            //console.log(data[i].student_lastname + ' ' + data[i].student_firstname + ' ' + data[i].student_patronym);
                            add_item(data[i].id, data[i].value);
                            refresh_items();
                        });
                    },
                    error: function (data) {}
                });
            }
        }
    </script>
{% endblock %}{# empty Twig template #}
