{% extends 'main.html.twig' %}

{% block moduletitle %}Freedays{% endblock %}
{% block main %}
    <form name='searchform'>
        <div>
            <label for="search_value">Search:</label>
            <input type='text' name='search_value' id='search_value' value='' size='15'>&nbsp;
            <select name='search_field' id='search_field'>
                <option value='title'>Title</option>
                <option value='date'>Date</option>
            </select>&nbsp;&nbsp;
            <input type='button' id='search_button' value='Search' onclick='search();'>
        </div>
    </form> <a href="/faculty/freeday/new">New</a>
    <div id='error'>
    </div>
    <div id='main'>
    </div>
{% endblock %}
{% block customjs %}
    <script type="text/javascript">
        $(document).ready(function () {
            row_count = 0;
            $('#main').jtable({
                title: 'Freedays',
                paging: true,
                pageSize: 35,
                sorting: true,
                startIndex: 0,
                defaultSorting: 'freeday.id DESC',
                actions: {
                    listAction: function (postData, jtParams) {
                        return $.Deferred(function ($dfd) {
                            $.ajax({
                                url: '/faculty/freeday/list/' + jtParams.jtStartIndex + '/' + jtParams.jtPageSize + '/' + jtParams.jtSorting
        {% if (search_field is defined and search_field is not empty) and (search_value is defined and search_value is not empty) %}
                                            + '/' + '{{ search_field|raw }}' + '/' + '{{ search_value|raw }}'
        {% endif %},
                                    type: 'POST',
                                    dataType: 'json',
                                    data: postData,
                                    success: function (data) {
                                        console.log(jtParams.jtSorting);
                                        $dfd.resolve(data);
                                        row_count = 0;
                                    },
                                    error: function (data) {
                                        //console.log(data);
                                        $dfd.reject();
                                    }
                                });
                            });
                        },
                        deleteAction: function (postData) {
                            return $.Deferred(function ($dfd) {
                                $.ajax({
                                    url: '/faculty/freeday/delete',
                                    type: 'POST',
                                    dataType: 'json',
                                    data: postData,
                                    success: function (data) {
                                        console.log(data);
                                        $dfd.resolve(data);
                                    },
                                    error: function (data) {
                                        $dfd.reject();
                                    }
                                });
                            });
                        }
                    },
                    fields: {
                        row_number: {
                            title: 'No',
                            create: false,
                            edit: false,
                            width: '3%'
                        },
                        id: {
                            title: 'ID',
                            width: '3%',
                            key: true,
                            create: false,
                            edit: false,
                            list: true
                        },
                        title: {
                            title: 'Title',
                            type: 'text',
                            list: true
                        },
                        type: {
                            title: 'Type',
                            options: {'1': 'Day replacement', '2': 'No replacement','3':'Session replacement','4':'No replacement LLD only','5':'Session replacement BM'},
                            list: true
                        },
                        date: {
                            title: 'Old date',
                            type: 'date',
                            width: '5%',
                            list: true
                        },
                        new_date: {
                            title: 'New date',
                            type: 'date',
                            width: '5%',
                            list: true
                        },
                        session: {
                            title: 'Old session',
                            type: 'text',
                            width: '5%',
                            list: true
                        },
                        new_session: {
                            title: 'New session',
                            type: 'text',
                            width: '5%',
                            list: true
                        },
                        actions: {
                            title: 'Actions',
                            sorting:false,
                            list: true,
                            edit: false,
                            create: false,
                            display: function (data)
                            {
                                info = "<a href='/faculty/freeday/edit/" + data.record.id + "'>Edit</a>";
                                return info;
                            }

                        }
                    }
                });
                $('#main').jtable('load');
            });
            function search()
            {
                window.location.href = "/faculty/freeday/search/" + $('#search_field').val() + "/" + $('#search_value').val();
            }
            function showerror(str)
            {
                $('#error').html(str);
            }
    </script>
{% endblock %}