{% extends 'main.html.twig' %}

{% block moduletitle %}Campus - Access denied! {% endblock %}
{% block main %}
    <div style="margin:auto;"><h3>Access denied!</h3></div>
{% endblock %}
{% block customjs %}
{% endblock %}{# empty Twig template #}
{# empty Twig template #}
