{% extends 'main.html.twig' %}

{% block moduletitle %}Faculty{% endblock %}
{% block customcss %}
{% endblock %}
{% block main %}
<div id='error'>
</div>
<div id='grid'>
</div>
{% endblock %}
{% block customjs %}
{% endblock %}