{% extends 'base.html.twig' %}

{% block navbar %}
    {% if is_granted('ROLE_USER') %}
        <nav class="navbar navbar-expand-md navbar-light fixed-top" style="background-color: #28ad4b; color:#ffffff;">
            <!--<a class="navbar-brand" href="#">CAMPUS</a>-->
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarsExampleDefault" aria-controls="navbarsExampleDefault" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span></button>
            <div class="collapse navbar-collapse" id="navbarsExampleDefault">
                <ul class="navbar-nav mr-auto">
                    <li class="nav-item">
                        <a class="nav-link" href="#">User: {{ app.user.username }}</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/">Home</a>
                    </li>
                    {% if is_granted('ROLE_TEACHER') %}
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" href="#" id="dropdown09" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Students</a>
                            <div class="dropdown-menu" aria-labelledby="dropdown09">
                                <a class="dropdown-item" href='/faculty/enrolledstudent'>Students</a>
                                {% if is_granted('ROLE_SPECIALIST') %}
                                    <a class="dropdown-item" href="/faculty/expelledstudent">Expelled Students</a>
                                    <a class="dropdown-item" href='/faculty/alumnusstudent'>Alumni</a>
                                    <a class="dropdown-item" href='/faculty/analytics/internship'>Internships</a>
                                    <a class="dropdown-item" href='/faculty/analytics/alumniemployment'>Job placement</a>
                                {% endif %}
                                {% if is_granted('ROLE_ADMIN') %}
                                    <a class="dropdown-item" href='/grading/transcriptcourse'>Transcript Courses</a>
                                    <a class="dropdown-item" href='/grading/transcriptcourse/listreports'>Grade Reports</a>
                                {% endif %}
                                <!--<a class="dropdown-item" href='thesis.php'>Theses</a>
                                <a class="dropdown-item" href='studentdiploma.php'>Diplomas</a>
                                <a class="dropdown-item" href='studentpayment.php'>Payments</a>-->

                            </div>
                        </li>
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" href="#" id="dropdown04" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Reference</a>
                            <div class="dropdown-menu" aria-labelledby="dropdown04">
                                <a class="dropdown-item" href="/faculty/analytics">Analytics</a>
                                <!--<a class="dropdown-item" href="/iuhdplus">IUHD+</a>-->
                                <a class="dropdown-item" href='/reference_document/public_list'>Documents</a>
                                {% if is_granted('ROLE_DEAN') %}
                                    <a class="dropdown-item" href='/hr/report/dailyreport'>Employee Report</a>
                                {% endif %}
                            </div>
                        </li>
                    {% endif %}
                    {% if is_granted('ROLE_SPECIALIST') %}
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" href="#" id="dropdown08" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Teachers</a>
                            <div class="dropdown-menu" aria-labelledby="dropdown08">
                                <a class="dropdown-item" href="/faculty/teacher">Teachers</a>
                                <a class="dropdown-item" href='/faculty/departmentworkitem'>Department Work Items</a>
                                <a class="dropdown-item" href='/faculty/teacherworkitem'>Teacher Work Items</a>
                                <a class="dropdown-item" href='/faculty/teacherworkset'>Teacher Work Sets</a>
                                <a class="dropdown-item" href='/faculty/reportedwork'>Reported Works</a>
                            </div>
                        </li>
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" href="#" id="dropdown06" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Programs</a>
                            <div class="dropdown-menu" aria-labelledby="dropdown06">
                                <a class="dropdown-item" href='/faculty/studyprogram'>Study Programs</a>
                                <a class="dropdown-item" href='/faculty/programcourse'>Program Courses</a>
                            </div>
                        </li>
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" href="#" id="dropdown05" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Schedules</a>
                            <div class="dropdown-menu" aria-labelledby="dropdown05">
                                <a class="dropdown-item" href='/faculty/schedule'>Schedules</a>
                                <a class="dropdown-item" href='/faculty/taughtcourse'>Taught Courses</a>
                                <a class="dropdown-item" href='/faculty/scheduleitem'>Schedule Items</a>
                                <a class="dropdown-item" href='/faculty/studentabsence'>Student Absences</a>
                                <a class="dropdown-item" href='/faculty/schedulechange'>Schedule Change</a>
                                <a class="dropdown-item" href='/faculty/freeday'>Freedays</a>
                            </div>
                        </li>
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" href="#" id="dropdown07" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Units</a>
                            <div class="dropdown-menu" aria-labelledby="dropdown07">
                                <a class="dropdown-item" href="/faculty/faculty">Faculties</a>
                                <a class="dropdown-item" href="/faculty/department">Departments</a>
                                <a class="dropdown-item" href="/faculty/group">Groups</a>
                                <a class="dropdown-item" href="/faculty/campuslocation">Campus Locations</a>
                                <a class="dropdown-item" href="/faculty/campusbuilding">Buildings</a>
                                <a class="dropdown-item" href="/faculty/classroom">Classrooms</a>
                                <a class="dropdown-item" href="/faculty/hostel">Hostel</a>
                                <a class="dropdown-item" href="/faculty/hostelroom">Hostel rooms</a>
                                <a class="dropdown-item" href="/library/libraryitem">Library Items</a>
                            </div>
                        </li>
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" href="#" id="dropdown03" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Records</a>
                            <div class="dropdown-menu" aria-labelledby="dropdown03">
                                <a class="dropdown-item" href="/registrar/rectororder">Orders</a>
                                <a class="dropdown-item" href="/reference_document">Documents</a>
                                <a class="dropdown-item" href="/registrar/certificationrecord">Certifications</a>
                                <a class="dropdown-item" href="/faculty/disciplineaction">Discipline Actions</a>
                                <a class="dropdown-item" href="/faculty/competition">Competitions</a>
                                <a class="dropdown-item" href="/faculty/competitionresult">Competition Results</a>
                                <a class="dropdown-item" href='/information_text'>Information Texts</a>
                                <!--<a class="dropdown-item" href="/task">Tasks</a>
                                <a class="dropdown-item" href="/submission">Submissions</a>
                                <a class="dropdown-item" href="/submission_list">Submissions Lists</a>
                                <a class="dropdown-item" href="/registrar/letter">Letters</a>
                                <a class="dropdown-item" href="participation.php">Participations</a>
                                <a class="dropdown-item" href="publication.php">Publications</a>
                                <a class="dropdown-item" href="periodical.php">Periodicals</a>
                                <a class="dropdown-item" href="/faculty/announcement/">Announcements</a>-->
                            </div>
                        </li>
                    {% endif %}
                    <!--
                    {% if is_granted('ROLE_EDMS_MANAGER') %}
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" href="#" id="dropdown03" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">ERDU</a>
                            <div class="dropdown-menu" aria-labelledby="dropdown03">
                                <a class="dropdown-item" href="/edms/electronic_document/1">Gelýän hatlar</a>
                                <a class="dropdown-item" href="/edms/electronic_document/2">Gidýän hatlar</a>
                                <a class="dropdown-item" href="/edms/electronic_document/3">Içerki hatlar</a>
                            </div>
                        </li>
                    {% endif %}-->
                    {% if is_granted('ROLE_ADMIN') %}
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" href="#" id="dropdown0111" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">System</a>
                            <div class="dropdown-menu" aria-labelledby="dropdown011">
                                <a class="dropdown-item" href='/faculty/user'>Users</a>
                                <a class="dropdown-item" href='/setting/index'>Settings</a>
                                <a class="dropdown-item" href='/faculty/userright'>User rights</a>
                                <a class="dropdown-item" href='/custom/index'>Check Errors</a>
                                <a class="dropdown-item" href='/system/monitor'>System Monitor</a>
                                <a class="dropdown-item" href='/system/systemevent'>System Events</a>
                                <a class="dropdown-item" href='/administration/index'>Administration</a>
                                <a class="dropdown-item" href='/tmd/index'>TMD Administration</a>
                                {% if is_granted('ROLE_PREVIOUS_ADMIN') %}
                                    <a class="dropdown-item" href="{{ path('app_index', {'_switch_user': '_exit'}) }}">Exit impersonation</a>
                                {% endif %}
                            </div>
                        </li>
                    {% endif %}
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" id="dropdown03" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">My Account</a>
                        <div class="dropdown-menu" aria-labelledby="dropdown03">
                            <a class="dropdown-item" href="/account" class="menu_item">My Account</a>
                            {% if is_granted('ROLE_TEACHER') %}
                                <a class="dropdown-item" href="/teacher/sisinfo" class="menu_item">Show SIS info</a>
                            {% endif %}
                        </div>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/logout" >Logout</a>
                    </li>
                    {% if is_granted('ROLE_PREVIOUS_ADMIN') %}
                        <li class="nav-item">
                            <a class="nav-link" href="{{ path('app_index', {'_switch_user': '_exit'}) }}">Exit impersonation</a>
                        </li>
                    {% endif %}
                </ul>
            </div>
        </nav>
    {% endif %}
{% endblock %}