{% extends 'main.html.twig' %}

{% block moduletitle %}Information {% endblock %}
{% block main %}
    <div style="margin:auto;"><h3>Information</h3></div>
    <div>{{ content }}</div>
{% endblock %}
{% block customjs %}
{% endblock %}{# empty Twig template #}
{# empty Twig template #}
