{% extends 'base.html.twig' %}

{% block navbar %}
    {% if is_granted('ROLE_USER') %}
        <nav class="navbar navbar-expand-md navbar-light fixed-top" style="background-color: #28ad4b; color:#ffffff;">
            <!--<a class="navbar-brand" href="#">CAMPUS</a>-->
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarsExampleDefault" aria-controls="navbarsExampleDefault" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span></button>
            <div class="collapse navbar-collapse" id="navbarsExampleDefault">
                <ul class="navbar-nav mr-auto">
                    <li class="nav-item">
                        <a class="nav-link" href="#">User: {{ app.user.username }}</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/">Home <span class="sr-only">(current)</span></a>
                    </li>
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" id="dropdown03" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Grades</a>
                        <div class="dropdown-menu" aria-labelledby="dropdown03">
                            <a class="dropdown-item" href="/grading/transcriptcourse/student/grades/{{ app.user.systemId }}">Semester grades BETA</a>
                            <a class="dropdown-item" href="/student/grades/transcript">Transcript OLD</a>
                            <a class="dropdown-item" href="/grading/transcriptcourse/student/transcript/{{ app.user.systemId }}">Transcript BETA</a>
                        </div>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/faculty/attendance/student/" class="menu_item">Attendance</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/faculty/enrolledstudent/info/" class="menu_item">Info</a>
                    </li>
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" id="dropdown03" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">My Account</a>
                        <div class="dropdown-menu" aria-labelledby="dropdown03">
                            <a class="dropdown-item" href="/account" class="menu_item">My Account</a>
                            <a class="dropdown-item" href="/student/sisinfo" class="menu_item">Show SIS info</a>
                        </div>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/logout" >Logout</a>
                    </li>
                    {% if is_granted('ROLE_PREVIOUS_ADMIN') %}
                        <li class="nav-item">
                            <a class="nav-link" href="{{ path('app_index', {'_switch_user': '_exit'}) }}">Exit impersonation</a>
                        </li>
                    {% endif %}
                </ul>
            </div>
        </nav>
    {% endif %}
{% endblock %}