{% extends 'studentmain.html.twig' %}

{% block moduletitle %}{{ page_title }}{% endblock %}
{% block main %}
    <div style="margin:auto;">
        {{ page_content|raw }}
    </div>
{% endblock %}
{% block customjs %}
{% endblock %}{# empty Twig template #}
{# empty Twig template #}
